AWS_ACCESS_KEY_ID=<your-aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-aws-secret-access-key>
AWS_METADATA_SERVICE_TIMEOUT=5
AWS_METADATA_SERVICE_NUM_ATTEMPTS=0
REGION=us-west-2
#BUCKET_TYPE=dev
BUCKET_TYPE=prod
#NODE_TYPE=research
NODE_TYPE=hls-only
NODE_NAME=rpi_orcasound_lab
NODE_LOOPBACK=false
SAMPLE_RATE=48000
AUDIO_HW_ID=pisound
CHANNELS=2
#LOGDNA_INGESTION_KEY=<your-mezmo-ingestion-key>
FLAC_DURATION=30
SEGMENT_DURATION=10
LC_ALL=C.UTF-8
NO_UPLOAD=true
