name: docker image testing

on:
  push:
    branches:
      - master
      - mseed
  pull_request:
    branches:
      - master
      - mseed

  
jobs:
  Docker-tests:
    runs-on: ubuntu-20.04
    steps:  
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./base/amd64/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/orcamseed:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
        
